.main-container {
  min-height: 95vh;
  display: flex;
  align-content: center;
  align-items: center;
}

.index-peictt {
  display: flex;
  min-height: 440px;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.index-peictt > div > h1 {
  letter-spacing: -.6rem;
  font-size: 8em;
  text-align: center;
  font-weight: 100;
}

.index-peictt > div > p {
  text-align: center;
  opacity: .6;
}

.p, .t-1 { color: rgba(222, 4, 27, 0.5); }

.e { color: rgba(255, 0, 95, 0.5); }

.i { color: rgba(140, 195, 87, 0.5); }

.c { color: rgba(28, 61, 245, 0.5); }

.t-2 { color: rgba(255, 0, 145, 0.5); }
